@charset "UTF-8";

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #00feff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: white;
  width: 500px;
  height: 500px;
  overflow: auto;
  border-radius: 10px;
}

div:has(h1, p) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul > li {
  display: flex;
  border-bottom: 2px solid rgb(145, 145, 145);
  cursor: pointer;
}

ul > li:hover {
  background-color: lightblue;
}
.imgz {
  border-radius: 50%;
  height: 100px;
  padding: 10px;
}

.ediz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}
.ediz > img {
  opacity: 0.3;
}

.ediz:hover > img {
  opacity: 1;
}
