@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-header: #050709;
  --cor-letra: #ffffff;
  --cor-body: #0c1013;
  --cor-botao: #cbe200;
  --cor-carda: #20262c;
  --cor-card-letra: #8c9298;
  font-size: 62.5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(31, 31, 31);
  height: 100vh;
}

.header-hero {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-header);

  .header-hero_span {
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: 500;
    padding: 1rem;
    letter-spacing: 0.3rem;
  }

  .header-hero_menu_lista {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    .header-hero_menu_lista_item {
      .header-hero_menu_lista_item_a {
        color: white;
        font-size: 1.8rem;
        padding: 2rem;
        text-decoration: none;

        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--cor-botao);
          color: black;
        }
      }
    }
  }
}

.main-hero {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
