@charset "UTF-8";

/* *,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

:root {
  --cor-letra: #ffffff;
  --cor-body: #0c1013;
  --cor-botao: #cbe200;
  --cor-carda: #20262c;
  --cor-card-letra: #8c9298;
}
