@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-header: #050709;
  --cor-letra: #ffffff;
  --cor-body: #0c1013;
  --cor-botao: #cbe200;
  --cor-carda: #20262c;
  --cor-card-letra: #bcc3ca;
  font-size: 62.5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(19, 19, 19);
  height: 100vh;
}

.header-hero {
  width: 80%;
  margin: 0% auto 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-header);

  .header-hero_span {
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: 500;
    padding: 1rem;
    letter-spacing: 0.3rem;
  }

  .header-hero_menu_lista {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    .header-hero_menu_lista_item {
      .header-hero_menu_lista_item_a {
        color: white;
        font-size: 1.8rem;
        padding: 2rem;
        text-decoration: none;
        border-radius: 0.5rem;

        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--cor-botao);
          color: black;
        }
      }
    }
  }
}

.main-hero {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-hero_titulo {
  font-size: 4.4rem;
  padding: 1rem;
  margin: 1rem;
}

.main-hero_lista {
  display: flex;
  list-style: none;
  gap: 2rem;

  .main-hero_lista_card {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-carda);
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem;

    &:hover {
      outline: 2px solid white;
    }

    &:has(a[href="#"]:hover) {
      outline: 0;
      box-shadow: 3px 3px 5px 1px var(--cor-botao),
        -1px -1px 5cap var(--cor-botao);
    }
  }

  .main-hero-lista_card_div {
    padding: 1rem;
    margin: 1rem;

    .main-hero_list_card_titulo {
      font-size: 3.4rem;
      padding: 0.5rem;

      border-bottom: 2px solid var(--cor-botao);
    }
    .main-hero_list_card_valor {
      font-size: 2.4rem;
      padding: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  ul {
    list-style: inside;
    margin-bottom: 2rem;
  }
  ul > li {
    font-size: 1.8rem;
    padding: 0.5rem;
    color: var(--cor-card-letra);
    width: 30rem;
    text-transform: capitalize;
  }

  a {
    color: black;
    background-color: var(--cor-botao);
    display: block;
    padding: 1rem;
    margin-top: auto;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}
