main {
  background-color: red;
  width: 80%;
  min-height: calc(100vh - 10vw);
  margin-top: 10vw;
  .div1 {
    width: 80%;
    background-color: rgba(0, 255, 0, 0.342);
    height: 10vw;
    position: fixed;
    top: 0;
    left: 0;
  }
}
