@charset "UTF-8";
:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c1013;
  margin: 0;
}
.header-hero {
  width: 80%;

  .header-hero_section {
    background-color: #050709;
    padding: 2.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .header-hero_section_span {
      font-size: 3.2rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: white;
    }

    .header-hero_section_nav_ul {
      list-style: none;
      display: flex;
      gap: 1rem;

      .header-hero_section_nav_ul_li {
        .header-hero_section_nav_ul_li_a {
          color: white;
          font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: 0.3rem;
          padding: 2rem;
          text-decoration: none;
          text-transform: uppercase;

          &.header-hero_section_nav_ul_li_a:hover {
            background-color: #cbe200;
            border-radius: 0.3rem;
            color: black;
          }
        }
      }
    }
  }

  .header-hero_h1 {
    text-align: center;
    font-size: 6.4rem;
    text-transform: uppercase;
    color: white;
  }
}

.main-hero {
  width: 80%;
  padding: 0;
  margin-top: 0;

  .main-hero_list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    margin: 0;

    .main-hero_list_item {
      background-color: #20262c;
      color: white;
      padding: 1.6rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;

      .main-hero_list_item_div_h2 {
        font-size: 3.2rem;
        border-bottom: 2px solid #cbe200;
        margin-bottom: 1rem;
      }
      .main-hero_list_item_div_p {
        font-size: 2.2rem;
        margin-top: 0;
      }

      .main-hero_list_item_vantagens-list {
        padding: 1rem;

        .main-hero_list_item_vantagens-list_item {
          font-size: 1.6rem;
          line-height: 1.5;
          color: rgba(255, 255, 255, 0.658);
        }
      }
      .main-hero_list_item_div-buton {
        display: flex;
        margin-top: auto;
        .main-hero_list_item_div-buton_a {
          text-transform: uppercase;
          text-align: center;
          color: #050709;
          font-size: 1.6rem;
          background-color: #cbe200;
          width: 100%;
          padding: 1rem;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}
