@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fundo-header: #2a2a2a;
  --color-letra-linknav: #fed001;
  --color-fundo-linknav: #2a2a2a;
  --linear-gradiante: #fefefc, #feffc5, #feff91, #fefe6c, #fffe5a, #ffff40;
  --cor-fundo-titulo: #060200;
  --cor-fundo-botao: #fed001;
  --cor-letra-botao: #060200;
  --cor-fundo-escola: #003463;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.header-hero {
  background-color: var(--fundo-header);
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.header-hero_section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hero_section_navegation_list {
  list-style: none;
  display: flex;
  gap: 2rem;

  .header-hero_section_navegation_list_item > a {
    font-size: 1.8rem;
    color: var(--color-letra-linknav);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    border: 0.1rem solid var(--cor-fundo-botao);
    padding: 1rem;
    display: inline-block;

    transition: all 0.3s ease 0.1s;

    &:hover {
      background-color: var(--cor-fundo-botao);
      color: var(--cor-letra-botao);
      transform: scale(0.9);
    }
  }
}

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-hero_section1 {
  width: 100%;
  background-image: linear-gradient(to bottom, var(--linear-gradiante));
  display: flex;
  justify-content: center;
  align-items: center;

  .main-hero_section1_div-titulo {
    width: 80%;
    display: flex;

    img {
      width: 50%;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .main-hero_section1_div-titulo_titulo {
    font-size: 5.4rem;
    text-transform: capitalize;
    margin: 2rem;
  }

  .main-hero_section1_div-titulo_botao {
    font-size: 1.7rem;
    padding: 2rem 5rem;
    margin: 2rem;
    color: var(--cor-letra-botao);
    background-color: var(--cor-fundo-botao);
    width: fit-content;
    font-weight: bold;
    text-decoration: none;

    transition: underline 0.2s ease 0.2s, outline 0s ease 0.1s;

    &:hover {
      text-decoration: underline;
      outline: 2px solid black;
    }
  }
}

.main-hero_section2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-hero_section2_titulo {
  font-size: 3.4rem;
  padding: 2rem;
  margin: 2rem;
}

.main-hero_section2_article_list {
  display: flex;
  list-style: none;
  gap: 2rem;

  .main-hero_section2_article_list_item {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: all 0.2s ease 0.1s, outline 0.1s ease 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 10px 2px black;
      border-radius: 1rem 1rem 0rem 0rem;
      transform: scale(0.95);
    }

    img {
      width: 100%;
    }
  }

  .main-hero_section2_article_list_item_div-descricao {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445), -1px -1px rgba(0, 0, 0, 0.445);

    h3 {
      font-size: 2rem;
      padding: 1rem;
    }

    p {
      font-size: 1.6rem;
      padding: 1rem;
      color: rgba(0, 0, 0, 0.733);
    }
  }
}
