.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* 👈 Aqui está o stretch */
  background: lightgray;
  height: 500px; /* espaço vertical para esticar */
}

.item {
  background: orange;
  margin: 5px;
 height: 50%;  /* largura fixa */
  /* sem height! Isso permite esticar */
}
