.container {
  width: 80%;
  height: 350px;
  background-color: black;
  box-sizing: border-box;
  border: 2px solid lime;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div {
  width: 80%;
  height: 100%;
  background-color: rgb(68, 66, 66);
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.item1 {
  width: 25%;
  height: 25%;
  background-color: white;
}
.item2 {
  background-color: rgb(9, 255, 0);
  width: 25%;
  height: 25%;
}
.item3 {
  width: 25%;
  height: 25%;
  background-color: rgb(229, 255, 0);
}

.item4 {
  width: 25%;
  height: 25%;
  background-color: rgb(0, 255, 221);
}

.item5 {
  width: 25%;
  height: 25%;
  background-color: rgb(255, 0, 0);
}
