@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fundo-body: #3b68b7;
  --fundo-main: #ffffff;
  --fundo-linear-form: to right, #2a487f 0%, #2a487f 3%, white 3%;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo-body);
}

.main-hero {
  background-image: linear-gradient(var(--fundo-linear-form));
  width: 40%;

  .main-hero_formulario {
    padding: 3rem;
  }

  .main-hero_formulario_informações {
    border-color: transparent;

    legend {
      font-size: 3.4rem;
      color: var(--fundo-body);
    }

    section {
      display: flex;
      flex-direction: column;

      .main-hero_formulario_informações_label {
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 0.8rem 0rem;
        color: rgba(0, 0, 0, 0.623);
      }

      input[name="username"] {
        text-transform: capitalize;
      }

      .main-hero_formulario_informações_input {
        padding: 1rem 0.5rem;
        border-color: transparent;
        --corz: #3b68b79d;
        border-bottom: 2px solid var(--corz);
        outline-color: var(--corz);
        transition: padding-left 0.3s ease 0.1s;

        &:focus {
          padding-left: 1rem;
          background-color: rgb(209, 209, 209);
        }

        &:focus:invalid {
          outline-color: red;
        }

        &:focus:valid {
          outline-color: rgba(0, 255, 0, 0.432);
        }
        &:focus:valid,
        &:valid {
          border-bottom-color: rgba(0, 255, 0, 0.432);
          background-color: rgb(209, 209, 209);
        }
      }
    }
  }
  .main-hero_formulario_section-button {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      gap: 2rem;

      a{
        text-decoration: none;
      }
    }
    .main-hero_formulario_section-button_enviar {
      padding: 1rem 2rem;
      font-size: 1.6rem;
      font-weight: bold;
      background-color: var(--fundo-body);
      border-color: transparent;
      color: white;
      text-transform: uppercase;
      border-radius: 0.3rem;
      box-shadow: 1px 1px 5px black;
      cursor: pointer;

      transition: transform 0.3s ease 0.1s;

      &:hover {
        transform: scale(0.95);
      }
    }

    .main-hero_formulario_section-button_login {
      span {
        font-size: 1.4rem;
      }
      a {
        font-size: 1.6rem;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
