html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(128, 128, 128, 0.308);
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.header-hero {
  background: url("imagens/bg-3.jpg") center right / cover no-repeat fixed;
  height: 500px;
  padding-top: 1px;

  .header-hero_nav_ul {
    list-style: none;
    text-align: right;
    margin-right: 30px;
    .header-hero_nav_ul_li {
      display: inline-block;
      margin-top: 20px;
      .header-hero_nav_ul_li_a {
        background-color: rgba(0, 0, 0, 0.397);
        color: white;
        padding: 20px;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 10px;
        border: 2px solid white;
        letter-spacing: 2px;
        font-weight: 700;
      }
      .header-hero_nav_ul_li_a:hover {
        background-color: white;
        text-decoration: underline;
        color: black;
      }
    }
  }

  .header-hero_div {
    padding: 150px;
    .header-hero_div_h1 {
      font-size: 64px;
      color: white;

      text-align: center;
    }
    .header-hero_div_p {
      color: white;
      background-color: rgba(0, 0, 0, 0.555);
      width: fit-content;
      margin: auto;
      padding: 10px;
      font-size: 24px;
      border-bottom: 2px solid white;
    }
  }
}

.main-hero {
  width: 80%;
  margin: 20px auto;
  .main-hero_section_article {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    .main-hero_section_article_h2 {
      background-color: rgba(128, 128, 128, 0.377);
      padding: 10px;
      margin-top: 0;
    }
    .main-hero_section_article_p {
      line-height: 1.5;
    }
    .main-hero_section_article_a {
      background-color: rgba(128, 128, 128, 0.377);
      padding: 10px;
      border-radius: 5px;
    }
  }
}
.footer-hero {
  text-align: center;
  padding: 25px;
  color: rgb(255, 255, 255);
  background-color: rgba(128, 128, 128, 0.534);
  font-size: 20px;
  font-weight: bolder;
}
