@charset "UTF-8";
html {
  height: 100%;
}

body {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.header-hero_h1 {
  /**/
}
.main-hero {
  background-color: #fffffe;
  width: 80%;
}
.main-hero_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 10px;
  margin: 0;
  max-width: 100%;
}
.main-hero_list_item_img {
  display: block;
  min-width: 100%;
}

.main-hero_list_item {
  position: relative;
  opacity: 0.5;
  transition: opacity 1s;
  cursor: pointer;
  flex: 1;
}

.main-hero_list_item_p {
  position: absolute;
  bottom: -0.01em;
  margin: 0;
  border: 0;
  width: calc(100% - 1em);
  background-color: #312824d0;
  padding: 0.5em;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  transition: opacity 1s;
}

.main-hero_list_item:hover {
  opacity: 1;
}

.main-hero_list_item:hover > .main-hero_list_item_p {
  opacity: 1;
}
