@charset "UTF-8";
html {
  height: 100%;
}

body {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.main-hero {
  background-color: #fffffe;
  width: 80%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.514);
}
.main-hero_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 10px;
  
  margin: 0;
  max-width: 100%;
}
.main-hero_list_item_img {
  display: block;
  min-width: 100%;
  transform: scale(0.95);
  transition: transform 1s;
}

.main-hero_list_item {
  position: relative;
  opacity: 0.5;
  transition: opacity 1s;
  cursor: pointer;
  flex: 1;
}

.main-hero_list_item_p {
  position: absolute;
  bottom: -0.01em;
  margin: 0;
  border: 0;
  width: calc(100% - 1em);
  background-color: #312824d0;
  padding: 0.5em;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  color: white;

}

.main-hero_list_item:hover {
  opacity: 1;
  transform: scale(1) rotate(-5deg);
}

.main-hero_list_item:hover > .main-hero_list_item_p {
  opacity: 1;
  transform: translateY(0em) rotate(-5deg);
  pointer-events: all;
}
