div {
  width: 300px;
  height: 100px;
  border: 2px solid black;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: white;
}
body {
  background-color: black;
}

input[type="radio"] {
  display: none;
}

label {
  margin-left: 1em;
}

input[type="radio"] + label > span {
  display: inline-block;
  font-size: 1.3rem;
  width: 1em;
  height: 1em;
  border: 0.1em solid black;
  cursor: pointer;
}

input[type="radio"]:checked + label > span {
  background-color: lime;
  position: relative;
}

input[type="radio"]:checked + label > span::before {
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.7em;
  border: 0.1em solid white;
  border-top: 0;
  border-left: 0;
  position: absolute;
  top: 0;
  left: 0.3em;
  right: 0;
  bottom: 0;

  transform: rotate(35deg);
}
