body {
  margin: 0;
  padding: 0;
  width: 500px;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  margin: 1px 1px 10px 10px;

  .body_h1 {
    background-color: red;
    font: italic 900 100px arial;
    margin: 0;
    padding: 0;
  }

  #body_h2 {
    background-color: yellow;
    text-align: center;
    text-transform: lowercase;
    text-decoration: underline;
  }

  p {
    background-color: aqua;
    text-indent: 100px;

  }
}
