@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

:root {
  font-size: 62.5%;

  font-family: "Roboto";

  --background-header: #162028;

  --Cordotextonomenu: #586c7c;

  --Cordostextos: #555;

  --Cordefundodoboxcomimagemdedetalhe: #003d52;

  --Cordefundodofooter: #0b171f;

  --Cordetextodofooter: #6f8597;
}

body {
  height: 100vh;
}

.header-hero {
  background-color: var(--background-header);
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem;

  width: 100%;
  position: fixed;
  top: 0px;

  .header-hero_section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-hero_section_span {
      font-size: 3.4rem;
      padding: 1rem;
      color: white;
    }

    .header-hero_section_lista {
      list-style: none;
      display: flex;
      gap: 2rem;
    }

    .header-hero_section_lista_item > a {
      font-size: 1.8rem;
      padding: 2rem;
      color: var(--Cordotextonomenu);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-decoration: none;
      border-radius: 0.5rem;
      transition: color 0.3s ease, background-color 0.3s 0.1s;

      &:hover {
        --Cordetextodofooter: #a2b4c2;
        --Cordefundodofooter: #1b3647;
        color: var(--Cordetextodofooter);
        background-color: var(--Cordefundodofooter);
      }
    }
  }
}
.main-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-hero_article {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-hero_article_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    padding: 1rem;

    .main-hero_article_titulo-principal {
      font-weight: 400;
      padding: 1rem;
      margin: 1rem;
      font-size: 4.4rem;
      color: var(--Cordostextos);
    }

    .main-hero_article_paragrafo {
      font-size: 1.7rem;
      text-align: center;
      line-height: 2.5rem;
      color: var(--Cordostextos);
      width: 80%;
    }
  }

  .main-hero_article_modelos_section1 {
    padding: 2rem;
    .main-hero_article_modelos_lista {
      display: flex;
      gap: 2rem;
      list-style: none;
      text-align: center;
    }

    h2 {
      font-size: 2rem;
      padding: 1rem;
      color: var(--Cordostextos);
    }

    p {
      padding: 1rem;
      font-size: 1.7rem;
      color: var(--Cordostextos);
    }
  }
}
