@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  --background-header-color: #162028;
  --menu-color-text: #516a7c;

  --text-color: #555;

  --background-color: #003d52;

  --background-color-footer: #0b171f;
  --color-footer: #6f8597;
}

.header-hero {
  display: flex;

  .header-hero_section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 60.65rem;
    background: url("images/topo.jpg") bottom / cover no-repeat;

    .header-hero_section_div {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .header-hero_section_span {
    color: rgba(255, 255, 255, 0.781);
    font-size: 3.5rem;
  }
  .header-hero_section_menu_list {
    display: flex;
    gap: 1.6rem;
    list-style: none;
    padding: 1.4rem;

    .header-hero_section_menu_list_item_a {
      color: var(--menu-color-text);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-size: 1.6rem;
      padding: 1.8rem;
      border-radius: 0.5rem;
      &:hover {
        color: #92a1ac;
        text-decoration: underline;
      }
    }
  }
}

.main-hero_section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .main-hero_section1_h1 {
    font-size: 3.2rem;
    font-weight: 400;
    margin-top: 8rem;
    color: #555;
  }

  .main-hero_section1_p {
    width: 50%;
    font-size: 1.6rem;
    color: #555;
    line-height: 3rem;
    text-align: center;
  }

  .main-hero_section1_article {
    .main-hero_section1_article_list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 2rem;
      .main-hero_section1_article_list_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-hero_section1_article_list_item_h2 {
          margin-bottom: 0;
          color: #555;
          font-weight: 400;
          font-size: 2.2rem;
        }
        .main-hero_section1_article_list_item_p {
          font-size: 1.6rem;
          color: #555;
        }
      }
    }
  }
}
.main-hero_section2 {
  background: url("images/bg_detalhe.png") bottom right / cover no-repeat;
  color: #d1d0d0;
  padding: 8rem;
  .main-hero_section2_h2 {
    font-size: 4.4rem;
    font-weight: 400;
    width: 80%;
  }
  .main-hero_section2_p {
    width: 50%;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: left;
  }
}
