@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.header-hero {
  height: 49rem;
  background: url("imagens/bg-3.jpg") center right / cover no-repeat;

  .header-hero_nav_lista {
    list-style: none;
    text-align: right;
    margin-right: 5rem;

    .header-hero_div_lista_item {
      display: inline-block;
      margin: 2rem 1rem 0px 0px;

      .header-hero_div_lista_item_a {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-left: 0.5rem;
        color: white;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.425);
        padding: 1rem;
        border: 2px solid white;
        border-radius: 0.5rem;
        letter-spacing: 0.2rem;
        transition: all 0.2s ease 0.1s;

        &:hover {
          text-decoration: underline solid rgb(0, 0, 0);
          background-color: white;
          color: black;
          border-color: black;
        }
      }
    }
  }

  .header-hero_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    .header-hero_div_titulo {
      margin-top: 2rem;
      color: white;
      font-size: 4.4rem;
      text-shadow: 2px 2px 5px black;
    }

    .header-hero_div_paragrafo {
      background-color: rgba(0, 0, 0, 0.425);
      padding: 2rem;
      font-size: 2.4rem;
      color: white;
      border-bottom: 2px solid white;
      text-shadow: 1px 1px 1px black;
    }
  }
}

.main-hero {
  background-color: #cccccc;
  padding-top: 1px;

  .main-hero_article {
    width: 80%;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;

    .main-hero_article_titulo {
      background-color: #cccccc;
      padding: 0.5rem;
      margin: 0.5rem;
      font-size: 3rem;
    }

    .main-hero_article_paragrafo {
      font-size: 1.6rem;
      line-height: 1.3;
      & > abbr {
        text-decoration: underline solid black;
      }
    }

    .main-hero_article_link {
      padding: 1rem;
      font-size: 1.6rem;
      background-color: #cbc5c5;
      display: inline-block;
      margin-top: 1rem;
    }
  }
}
