body {
  font-family: sans-serif;
}

section {
  counter-reset: item 0;
  background-image: linear-gradient(80deg, transparent 80%, blue),
    url(imagens/tile.png);
  background-attachment: fixed, scroll;
  background-blend-mode: color;
}

div {
  width: 400px;
  height: 150px;
  margin: 2rem auto;
  background-color: red;
  background-clip: padding-box;
  padding: 2rem;
  border: 8px dashed color-mix(in srgb, rgb(255, 251, 0) 45%, blue 30%);
  counter-increment: item;
}

div::before {
  display: inline-block;
  content: "[" counter(item) "]";
}

p {
  text-align: justify;
}
