table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10% auto;
  text-align: center;

  tbody {
    tr:nth-of-type(2n + 1) {
      background-color: rgb(171, 184, 189);
    }
    tr:nth-of-type(even) {
      background-color: rgb(138, 197, 138);
    }
    tr:has(td:first-child > input[type="checkbox"]:checked) {
      background-color: black;
      color: yellow;
      cursor: pointer;
    }
  }
  th {
    padding: 1rem;
    border: 2px solid black;
  }
  td {
    border: 2px solid black;
    padding: 1rem;
    width: 40%;
  }
}
