html {
  font-size: 62.5%;
}
body {
  background-color: rgba(0, 0, 0, 0.411);
}

div {
  width: 450px;
  height: 150px;
  outline: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 3rem;
}

input[type="checkbox"] + label > span:first-child {
  display: inline-block;
  font-size: 2rem;
  width: 2em;
  height: 2em;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked + label > span:first-child {
  background-color: lime;
}

input[type="checkbox"]:checked + label > span:first-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 0.4em;
  height: 1.1em;
  border: 0.3em solid white;
  border-top-color: transparent;
  border-left-color: transparent;

  transform: translate(0.5em, -0.15em) rotate(35deg);
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
input[type="checkbox"]:focus + label > span:first-child {
  outline: 0.1rem solid black;
}
