@charset "UTF-8";

a[target="_blank"] {
  &::after {
    content: url("imagens/newWindow-icon.png");
    margin-left: 1rem;
  }
}

a[href="qq.pdf"] {
  &::before {
    content: url(imagens/pdf-icon.gif);
    margin-right: 1rem;
  }
}

input[type="checkbox"]{
    cursor: pointer;
}
input[type="checkbox"]:checked + label[for="chk1"] {
  color: lime;
  background-color: black;
}

input[type="checkbox"]:not(:checked) + label[for="chk1"] {
  color: red;
  background-color: black;
}

input[name="chk2"]:disabled + label[for="chk2"] {
  background-color: black;
  color: aqua;
}

ol > li:nth-of-type(3) > ol > li:nth-of-type(3) {
  color: red;
  background-color: lime;
}

ol > li:nth-child(3) > ol > li:nth-child(4) > ul > li:nth-of-type(3) {
  color: red;
  background-color: lime;
}
