:root {
  box-sizing: border-box;
}

div {
  width: 500px;
  height: 500px;
  margin: 5% auto;
  border: 2px solid lime;
}

input[type="checkbox"] + label > span:first-child {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:focus + label > span:first-child {
  outline: 1px solid;
}

input[type="checkbox"]:checked + label > span:first-child {
  background-color: lime;

  transition: background-color 0.2s ease 0.1s;
}

input[type="checkbox"]:checked + label > span:first-child::after {
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  border: 3px solid white;

  border-top-color: transparent;
  border-left-color: transparent;

  transform: translate(6px) rotate(45deg);

  transition: transform 0.2s ease 0.1s;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
