* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  & > * {
    flex: 1 0 0%;
  }
}
.botao1 {
  background-color: rgb(104, 172, 104);
  padding: 1rem;
}
.botao2 {
  background-color: rgb(36, 156, 156);
  padding: 1rem;
}

.row1 {
  display: flex;
  & > * {
    flex: 1;
  }

  :is(.botao1, .botao2) > div {
    display: flex;
    & > * {
      flex: 1 0 0%;
    }
    background-color: rgb(179, 162, 162);
  }
  :is(.botao1, .botao2) > div > button {
    background-color: red;
  }
}
