@charset "UTF8";

div {
  width: 500px;
  height: 500px;
  margin: 2% auto;
  background-color: black;
  border: 2px solid lime;
  padding: 0;
  text-align: center;
  position: relative;
}



div::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(0, 174, 255);
  position: absolute;
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  background-color: rgb(141, 47, 47);
}
