@charset "UTF-8";

body {
  background-color: black;
}

div {
  background-color: white;
  width: 300px;
  height: 150px;
}
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  & > li {
    flex: 1 0 0%;
    text-align: center;
    font-size: 1.3rem;

    &:hover > :where(a, .icons) {
      color: red;
      background-color: yellow;
      font-size: 2rem;
    }
  }
}
