.div1 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  box-sizing: border-box;
  margin: 4% auto;
  display: flex;
  flex-direction: row;
}

.div2 {
  background-color: lime;
  width: 450px;
  height: 25%;
  flex-shrink: auto;
  box-sizing: border-box;
}

.div3 {
  background-color: rgb(255, 60, 0);
  width: 450px;
  height: 25%;
  box-sizing: border-box;
  flex-shrink: auto;
}

.div4 {
  background-color: rgb(0, 89, 255);
  width: 450px;
  height: 25%;
  box-sizing: border-box;
  flex-shrink: auto;
}
