.dz {
  width: 500px;
  height: 500px;
  background-color: black;
  outline: 2px solid lime;
  box-sizing: border-box;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}

.div1{
  height: 25%;
  flex-grow: 1;
  background-color: red;
}

.div2{
  height: 25%;
  flex: 0 1 auto;
  background-color: rgb(187, 255, 0);
}