div {
  border: 1px solid lime;
  width: 50%;
  height: 300px;
  margin: 15% auto;
  text-align: center;
}
.p1 {
  background-color: red;
  border: 10px solid black;
  width: 425px;
  margin: 5px;
  box-sizing: border-box;

}

.p2 {
  background-color: red;
  border: 3px solid black;
  width: 425px;
  margin: 5px;
}
