@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

p {
  color: rgb(38, 0, 255);
  font: normal 500 25px arial;
  text-align: center;
  text-indent: 20px;
  line-height: 5;
  letter-spacing: 5px;
  text-shadow: 15px 0px 0px rgb(255, 4, 4), 0px 15px 0px rgb(255, 217, 0),
    -15px 0px 0px rgb(60, 255, 0), 0px -20px 0px black;
}
