div {
  background-color: rgb(255, 255, 255);
  max-height: 300px;
  height: 150px;
  min-height: 50px;

  max-width: 80%;
  width: 100%;
  min-width: 10%;
  outline: 1px solid red;
}

.div1 {
  min-width: 100%;
  width: 150%;
  max-width: 100%;
  background-color: lime;
  min-height: 30%;
  width: 600px;
  max-height: 30%;
}

.div2 {
  min-width: 100%;
  width: 150%;
  max-width: 100%;
  background-color: rgb(255, 0, 0);
  min-height: 30%;
  width: 600px;
  max-height: 30%;
}