@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

p {
  color: red;
  font: 500 26px arial;

  text-align: justify;
  text-decoration: overline lime wavy;
  text-indent: 30px;
}
