main {
  background-color: black;
  color: white;
  width: 80%;
  height: 500px;
  margin: 2% auto;
  box-sizing: border-box;
  outline: 2px solid lime;
  box-sizing: border-box;
}

.l1:has(input[type="checkbox"]:enabled:checked) {
  background-color: red;
}

.l2:has(input[type="checkbox"]:disabled:read-only) {
  background-color: rgb(39, 170, 22);
}

input[type="text"] {
  outline: none;
  box-sizing: border-box;
}

input[type="text"]:focus {
  background-color: red;
}

input[type="text"]:focus:valid {
  box-sizing: border-box;
}

input[type="text"]:hover {
  color: yellow;
  background-color: black;
  outline: 2px solid yellow;
}

button[type="submit"]:active {
  background-color: lime;
  color: black;
  font-weight: 900;
  box-sizing: border-box;
}

.lol {
  background-color: rgb(63, 60, 60);
}

p:first-child {
  background-color: red;
}

p:nth-child(3n-1) {
  background-color: orange;
}

p:last-child {
  background-color: lime;
}
