.div1 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid red;
  box-sizing: border-box;
  margin: 5% auto;
}

.div2 {
  width: 25%;
  height: 25%;
  background-color: lime;
  box-sizing: border-box;
}

.div3 {
  width: 25%;
  height: 25%;
  background-color: rgb(255, 60, 0);
  box-sizing: border-box;
}

.div4 {
  width: 25%;
  height: 25%;
  background-color: rgb(0, 89, 255);
  box-sizing: border-box;
}
