.div1 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  box-sizing: border-box;
  margin: 4% auto;
  position: relative;
  left: 0;
  margin-bottom: 900px;
}

.div2 {
  width: 25%;
  height: 25%;
  background-color: lime;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
}

.div3 {
  width: 25%;
  height: 25%;
  background-color: rgb(255, 60, 0);
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 15%;
}

.div4 {
  width: 25%;
  height: 25%;
  background-color: rgb(0, 89, 255);
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  left: 10%;
}
