main {
  background-color: black;
  width: 80%;
  height: 500px;
  margin: 2% auto;
  box-sizing: border-box;
  outline: 2px solid lime;
}
.div1 {
  background-color: white;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}

.div2 {
  background-color: rgb(255, 1, 1);
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}

.div3 {
  background-color: rgb(1, 196, 255);
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}
