.div1 {
  width: 80%;
  height: 500px;
  box-sizing: border-box;
  margin: 2% auto;
  background-color: black;
  border: 2px solid lime;
  overflow: hidden;

  text-align: right;
}
.div2 {
  width: 50%;
  height: 50%;
  background-color: gray;
  box-sizing: border-box;
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;

  transition: background-color 0.2s ease 0s, width 3s ease-out 0s,
    height 3s ease-out 0s;
}

.div2:hover {
  background-color: aqua;
  width: 100%;
  height: 100%;
}
