.div1 {
  width: 80%;
  height: 500px;
  box-sizing: border-box;
  margin: 2% auto;
  background-color: black;
  border: 2px solid lime;
  overflow: hidden;
}
.div2 {
  width: 50%;
  height: 50%;
  background-color: gray;
  box-sizing: border-box;
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  margin: 8% auto;
  transform-origin: center center;
  transition: opacity 1s ease-in 0.2s;
  
}

.div2:hover{
  pointer-events: none;
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}