ul {
  li:not(.pinha, li:last-child, li:first-child) {
    background-color: red;
  }

  li:nth-child(1) {
    background-color: lime;
  }
  li:nth-child(4) {
    background-color: lime;
  }
  li:nth-child(5) {
    background-color: lime;
  }
  li:nth-child(even) {
    color: white;
  }
}
