.div0 {
  height: 100px;
  width: 100px;
  background-color: lime;
  border: 2px solid black;

  text-align: center;
  display: flex;
  transition: transform 3s;
}

.div0:hover {
  transform: translate(500px, 300px) rotate(365deg) scale(3, 2)
    skew(10deg, 10deg);
  cursor: pointer;
}

.pz {
  margin: auto;
  color: red;
  font: italic 900 20px arial;
}

.pz::after {
  content: ">";
}
.pz::before {
  content: "<";
}
