a[href^="http"]::after {
  content: url("imagens/newWindow-icon.png");
}
a[href$="pdf"]::before {
  content: url(imagens/pdf-icon.gif);
}

input[id="chk1"]:checked + [for="chk1"] {
  background-color: black;
  color: lime;
  border: 1px solid lime;
}
input[id="chk1"]:not(:checked) + [for="chk1"] {
  background-color: black;
  color: red;
  border: 1px solid red;
}

input[type="checkbox"]:not(:enabled) + [for="chk2"] {
  background-color: black;
  color: aqua;
  border: 1px solid aqua;
}

ol > li > ol li:nth-child(3) {
  color: red;
  background-color: yellow;
}

ol > li > ol > li ul > li:nth-child(3) {
  background-color: black;
  color: lime;
  border: 1px solid lime;
}
