.pzol {
  width: 200px;
}

.pzol::selection{
    background-color: lime;
}

.pzol::first-line {
  background-color: red;
}

.pzol::first-letter {
  background-color: lime;
  font-size: 5rem;

}

.pzol::after {
  content: "☢️";
}
.pzol::before {
  content: "☢️";
}
