html {
  font-size: 65.2%;
}

.dz {
  width: 30rem;
  height: 10rem;
  margin: 15rem auto;
  font-size: 1.6rem;
  border: 0.2rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  display: none;
}

.label > .span {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid rgb(0, 0, 0);
  margin-right: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.input:checked + .label > .span {
  background-color: lime;
  box-sizing: border-box;
}
.input:checked + .label > .span::before {
  content: "";
  display: inline-block;
  width: 1.3rem;
  height: 0.6rem;
  border-top: 0;
  border-right: 0;
  border-left: 0.4rem solid white;
  border-bottom: 0.4rem solid white;
  transform: translate(0.4rem, 00.1rem) rotate(-68deg);
  
}
