.input1 {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: 3px solid blue;
}

.input1:focus:valid{
    border: 3px solid lime;
}



/*focus: Quando o usuário clicou e ativou a caixa de texto*/
/*valid: Quando um input foi validado pelo usuário com base no requeriment do html.*/