table {
  width: 650px;
  margin: 150px auto;
  border-collapse: collapse;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}
td,
th {
  padding: 10px;
  width: 250px;
  text-align: left;
  border: 1px solid black;
}

th {
  font-size: 28px;
  background-color: rgba(0, 255, 0, 0.267);
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(175, 174, 174, 0.219);
}

tr:has(td > [type="checkbox"]:first-child:checked) {
  background-color: rgb(25, 180, 33);
}

tr:has(td > [type="checkbox"]:first-child:not(:checked)) {
  background-color: rgb(180, 25, 25);
}