@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --corfundo: #95a5a6;
  --corformulario: #ebf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  height: 100vh;
  background-color: var(--corfundo);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.4rem;
  padding: 2rem;
}

form {
  background-color: var(--corformulario);
  border-radius: 1rem;
}

fieldset {
  border: 0;
  padding: 1rem;
  margin: 2rem;

  display: flex;
  flex-direction: column;

  legend {
    font-size: 2.4rem;
    text-align: center;
  }

  label {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    cursor: pointer;
  }

  input[type] {
    padding: 1rem 0rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding-left: 0.3rem;
  }

  button{
    padding: 1rem;
    margin-top: 2.5rem;
    cursor: pointer;
  }
}
