@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-fundo: #d3d3d3;
}

:is(html, body) {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-hero_titulo {
  font-size: 4rem;
}
.main-hero {
  background-color: white;
  width: 80%;
  box-shadow: 1px 1px 14px black;
}

.main-hero_lista {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
}

img {
  width: 100%;
  display: block;
}

.main-hero_lista_item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: calc(25% - 1rem);
  opacity: 0.5;
  transition: opacity 0.5s ease 0.2s, transform 0.3s ease 0.1s;
}
.main-hero_lista_item:hover {
  opacity: 1;
  transform: scale(0.98) rotate(-5deg);
}

p {
  color: white;
  background-color: black;
  font-size: 1.6rem;
  padding: 1rem;
  position: absolute;
  width: 100%;
  opacity: 0;
  left: 0;
  bottom: -25%;

  transition: bottom 0.5s ease 0.1s;
}

.main-hero_lista_item:hover > p {
  opacity: 1;
  left: 0;
  bottom: 0;
}
