@charset "UTF-8";

:root {
  --cor-principal: #3b68b7;
  --variation-color: #3b68b7a6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  margin: 0;
}

.main-hero {
  background-color: var(--cor-principal);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-hero_form {
  width: 50rem;
  background-color: white;
  box-shadow: -7px 0px 0px 1px rgba(0, 0, 0, 0.39);
}
.main-hero_form_fieldset {
  border: 0;
}
.main-hero_form_fieldset_legend {
  padding: 1rem;
  font-size: 3.2rem;
  color: var(--cor-principal);
}
.main-hero_form_fieldset_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-hero_form_fieldset_section_label {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.664);
  margin-top: 0.3rem;
}
.main-hero_form_fieldset_section_input {
  padding: 1rem;
  font-size: 1.4rem;
  border: 0;
  border-bottom: 1px solid var(--variation-color);
  outline: 0;
}

.main-hero_form_fieldset_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.main-hero_form_fieldset_div_button {
  background-color: var(--cor-principal);
  padding: 1rem;
  font-size: 1.6rem;
  border: 0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
}
.main-hero_form_fieldset_div_p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.623);
}
