@charset "UTF-8";

:root {
  --cor-principal: #3b68b7;
  --variation-color: #3b68b7a6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  margin: 0;
}

.main-hero {
  background-color: var(--cor-principal);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-hero_form {
  width: 50%;
  background-color: white;
  box-shadow: -7px 0px 0px 1px rgba(0, 0, 0, 0.39);
}
.main-hero_form_fieldset {
  border: 0;
}
.main-hero_form_fieldset_legend {
  padding: 1rem;
  font-size: 3.2rem;
  color: var(--cor-principal);
}
.main-hero_form_fieldset_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-hero_form_fieldset_section_label {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.664);
  margin-top: 0.3rem;
}
.main-hero_form_fieldset_section_input {
  padding: 1rem 1rem 1rem 0.5rem;
  font-size: 1.4rem;
  border: 0;
  border-bottom: 2px solid var(--variation-color);
  outline: 0;
  transition: padding 0.2s ease;
}

.main-hero_form_fieldset_section_input:focus {
  border-color: var(--cor-principal);
  background-color: rgba(230, 230, 230, 0.486);
  padding-left: 1rem;
}

.main-hero_form_fieldset_section_input:focus:valid,
.main-hero_form_fieldset_section_input:valid {
  border-color: rgb(26, 218, 26);
}

.main-hero_form_fieldset_section_input:focus:invalid {
  border-color: red;
  background-color: rgba(230, 230, 230, 0.486);
}

.main-hero_form_fieldset_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main-hero_form_fieldset_div_button {
  background-color: var(--cor-principal);
  padding: 1rem;
  font-size: 1.6vw;
  border: 0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
}

.main-hero_form_fieldset_div_button_login {
  background-color: var(--cor-principal);
  padding: 1rem;
font-size: 1.6vw;
  border: 0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.main-hero_form_fieldset_div_button_cadastro {
  padding: 1rem;
  font-size: 1.6vw;
  border: 0;
  color: var(--cor-principal);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
}

.main-hero_form_fieldset_div_p {
  font-size: 1.4vw;
  color: rgba(0, 0, 0, 0.623);
}

.main-hero_form_fieldset_div_p_a {
  font-size: 1.4vw;
}

.azin{
    color: var(--cor-principal);
}