@charset "UTF-8";

:root {
  --linear: #fefefc, #fefefc, #ffffd1, #ffffa1, #ffff81, #fdfe5c, #e6e647d7;
  font-size: 62.5%;
  font-family: arial;
}

.header-hero {
  background-image: linear-gradient(var(--linear));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-hero_div {
  height: 51rem;
  width: 80%;
  background: url("/imagens/HeroImage-corrigida.png") bottom right / contain
    no-repeat;
  display: flex;

  align-items: center;
  .header-hero_div_div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-hero_div_h1 {
      font-size: 4.4rem;
    }
    .header-hero_div_a {
      font-size: 2rem;
      background-color: #ffd000;
      color: black;
      text-decoration: none;
      text-align: center;
      padding: 2rem 4rem;
      width: fit-content;
      border-radius: 0.5rem;
    }
  }
}

.header-hero_section1 {
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  width: 100%;

  .header-hero_section1_div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    .header-hero_section1_nav {
      .header-hero_section1_nav_list {
        list-style: none;
        display: flex;
        gap: 0.4rem;

        .header-hero_section1_nav_list_item {
          padding: 1rem 0px 1rem 0px;

          .header-hero_section1_nav_list_item_a {
            color: #e5c64c;
            border: 1px solid #e5c64c;
            background-color: #2a2a2a;
            font-size: 1.6rem;
            padding: 1rem;
            text-transform: capitalize;
            text-decoration: none;
            letter-spacing: 0.2rem;
          }
        }
      }
    }
  }
}

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main-hero_section2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;

    .main-hero_section2_h2 {
      font-size: 3.2rem;
      padding: 1rem;
    }

    .main-hero_section2_list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1rem;
      .main-hero_section2_list_item {
        .main-hero_section2_list_item_article {
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.192),
            -1px -2px rgba(0, 0, 0, 0.192);
          margin-top: 0;
          border-radius: 10px;

          .img {
            width: 100%;
            height: 21rem;
          }
          .main-hero_section2_list_item_article_h3 {
            font-size: 2rem;
            margin-top: 0;
            text-align: center;
          }
          .main-hero_section2_list_item_article_p {
            font-size: 1.6rem;
            padding: 1rem;
            color: #000000c5;
            line-height: 2.3rem;
          }
        }
      }
    }
  }
  .oito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    .main-hero_a {
      font-size: 2rem;
      background-color: #ffd000;
      color: black;
      text-decoration: none;
      padding: 2rem 4rem;
      width: fit-content;
      border-radius: 0.5rem;
    }
  }

  .main-hero_section3 {
    background: url("/imagens/nossa-escola.png") left / contain no-repeat,
      #003463;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50rem;
    margin-top: 1.5rem;
    .main-hero_section3_aside {
      width: 50%;
      .main-hero_section3_aside_div {
        color: white;
        margin-left: 5rem;
        .main-hero_section3_aside_div_h2 {
          font-size: 3.2rem;
        }
        .main-hero_section3_aside_div_p {
          font-size: 2rem;
          text-align: left;
          line-height: 3rem;
        }
      }
    }
  }

  .main-hero_section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main-hero_section4_div {
      width: 80%;
      text-align: center;
      .main-hero_section4_div_h2 {
        font-size: 3.2rem;
      }
      img {
        width: 100%;
      }
      .main-hero_section4_divz {
        text-align: right;
        font-size: 1.6rem;
      }
    }
  }
}

.footer-hero{
  background-color: #2a2a2a;
  color: #fefefc;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
}
