#divescondida:popover-open {
  background-color: red;
  border: 1px solid yellow;
}
#divescondida:popover-open::backdrop {
  background-color: rgb(7, 6, 14);
}

.botao-fora {
  display: block;
  margin: auto;
}

.botao-dentro {
  display: block;
  margin: auto;
}
