@charset "UTF-8";
:root {
  --background-color-header: #31333cc2;
  --background-color-main: #454857c2;
  --color-paragrafo: #df7e51;
  --color-titles: #a3a6b3;
  --colr-hover-links: #454857;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background: url("/images/imagens/bg-unsplash.png") bottom right / cover
    no-repeat;
}


.header-hero {
  background-color: var(--background-color-header);
  max-width: 30rem;
  flex: 0 0 calc(30rem - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-right: 1rem;
}

.header-hero_div {
  display: flex;
  justify-content: flex-end;
}
.header-hero_div_img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  padding: 1rem;
}

.header-hero_nav_ul {
  list-style-type: none;
}

.header-hero_nav_ul_li {
  display: flex;
  justify-content: flex-end;
}
.header-hero_nav_ul_li_a {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: white;
  padding: 1.4rem;
  width: 100%;
  transform: scaleX(0.98);
  transition: transform 0.2s;
  border-bottom: 1px solid white;
}

.header-hero_nav_ul_li_a:hover {
  background-color: var(--colr-hover-links);
  transform: scale(1);
}
/*main*/
.main-hero {
  background-color: var(--background-color-main);
  flex: 1 0;
  padding-left: 2rem;
}
.main-hero_div {
  padding: 2rem;
}