@charset "UTF-8";
:root {
  --background-color-header: #31333cc2;
  --background-color-main: #454857c2;
  --color-paragrafo: #df7e51;
  --color-titles: #a3a6b3;
  --colr-hover-links: #454857;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background: url("/images/imagens/bg-unsplash.png") bottom right / cover
    no-repeat;
}

.header-hero {
  background-color: var(--background-color-header);
  max-width: 30rem;
  flex: 0 0 calc(30rem - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-right: 1rem;
}

.header-hero_div {
  display: flex;
  justify-content: flex-end;
}
.header-hero_div_img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  padding: 1rem;
}

.header-hero_nav_ul {
  list-style-type: none;
}

.header-hero_nav_ul_li {
  display: flex;
  justify-content: flex-end;
}

.header-hero_nav_ul_li_a {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: white;
  padding: 1.3rem 0em;
  width: 100%;
  border-bottom: 1px solid white;
  transition: padding 0.3s ease-in-out;
}

.header-hero_nav_ul_li_a:hover {
  background-color: var(--colr-hover-links);
  padding: 1.3rem 1.6rem;
}

/*main*/
.main-hero {
  background-color: var(--background-color-main);
  flex: 1 0;
  padding-left: 2rem;
}
.main-hero_div {
  padding: 2rem;
}
.main-hero_h1 {
  font-size: 4.4em;
  margin: 2rem 0;
  color: var(--color-titles);
}

abbr {
  text-decoration: underline;
}

.main-hero_p2,
.main-hero_p1,
.main-hero_p4 {
  color: var(--color-paragrafo);
  font: 900 2.2rem verdana;
}
.main-hero_p3 {
  color: rgb(206, 204, 204);
  font-size: 1.6rem;
}

.main-hero_section_ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding-left: 0;
}

.main-hero_section_ul_li_a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}
.main-hero_section_ul_li_a:hover {
  color: var(--color-paragrafo);
}
