@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-fundo-header: #31333c;
  --cor-fundo-main: #454857;
  --cor-titulos-h1: #9398a5;
  --cor-paragrafo: rgb(199, 190, 190);
  --cor-subtitulos: #ef7846;
  font-family: Arial, Helvetica, sans-serif;
}

:is(html, body) {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
}

.header-hero {
  background-color: var(--cor-fundo-header);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 21.5rem;
  div:has(img) {
    display: flex;
    justify-content: flex-end;

    img {
      width: 50%;
    }
  }
}

.header-hero_section_menu-nav_list_item {
  display: flex;
  flex-direction: column;
  text-align: right;
  border-bottom: 0.1px solid rgba(228, 227, 227, 0.795);
  padding: 0.5rem 0rem;
}

.header-hero_section_menu-nav_list_item_link {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 0rem;
  transform: scale(1);

  transition: padding-right 0.3s ease 0.1s;

  &:hover {
    padding-right: 0.5rem;
    background-color: var(--cor-fundo-main);
  }
}

/****************************************/

.main-hero {
  background-color: var(--cor-fundo-main);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-hero_article {
  margin: 2rem;
  padding: 1rem 0rem;
}
.main-hero_article_subtitulo {
  padding: 1rem 0rem;
  color: var(--cor-subtitulos);
  font-size: 2.4rem;
}

p,
q,
blockquote {
  padding: 1rem 0rem;
  color: var(--cor-paragrafo);
  font-size: 1.6rem;
}
